<%- include('partials/header'); %>




<body>
  
  <%- include('partials/header-navbar'); %>     


<!--PRDDUCTS SECTION -->

<!-- Prueba de un buscador -->

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<!-- Prueba de un buscador -->
<section>


  <div class="container products-wrapper"> 
  <h3 class="prod-category"> Los mas vendidos </h3> 
    <div class="row">
      <% for (producto of masVendidos) { %>  
      <div class="col-12 col-sm-6 col-lg-3">      
        <div class="item">
            <div class="item-inner">
              <a href="/Detalle/<%= producto.id %>">      
                <img width="100%" height="100%" alt="<%= producto.ds_nombre %>" src="./images/<%= producto.image %>"/>             
              </a>
            </div>                                          
            <div class="item-info"> <!-- En CSS main y main6 -->
              <div class="info-inner">  <!-- En CSS main -->
                <div class="item-title"> <!-- En CSS main -->  
                  <a href="/Detalle/<%= producto.id %>"> <%= producto.ds_nombre %>  </a>
                </div>
                  <a> $<%= producto.dn_precio %> </a> 
              </div>
            </div>         
          <div>
              <button id="bprimary" value="Añadir a Carrito" quantity="1" image="<%= producto.image %>" precio="<%= producto.dn_precio %>" nombre="<%= producto.ds_nombre %>" product_id="<%= producto.id %>" name="anadir" onclick="micarrito(this)">Añadir a Carrito</button>
          </div>  
          
          </div>
      </div>
      <% } %>
  </div> 
  </div>
</section>

<!-- ================= END OF SECTION LOMASVENDIDOS ======================== -->


<!-- ================= BEGIN OF SECTION ENOFERTA ======================== -->
<section>
  <div class="container products-wrapper"> 
  <h2 class="prod-category"> Productos En Oferta </h2> 
    <div class="row">
      <% for (producto of enOferta) { %>  
      <div class="col-12 col-sm-6 col-lg-3">      
        <div class="item">
            <div class="item-inner">
              <a href="/Detalle/<%= producto.id %>">      
                <img width="100%" height="100%" alt="<%= producto.ds_nombre %>" src="./images/<%= producto.image %>"/>             
              </a>
            </div>                                          
            <div class="item-info"> <!-- En CSS main y main6 -->
              <div class="info-inner">  <!-- En CSS main -->
                <div class="item-title"> <!-- En CSS main -->  
                  <a href="/Detalle/<%= producto.id %>"> <%= producto.ds_nombre %>  </a>
                </div>
                <a> $<%= producto.dn_precio %> </a> 
              </div>
            </div>         
          <div>
              <button id="bprimary" value="Añadir a Carrito" quantity="1" image="<%= producto.image %>" precio="<%= producto.dn_precio %>" nombre="<%= producto.ds_nombre %>" product_id="<%= producto.id %>" name="anadir" onclick="micarrito(this)">Añadir a Carrito</button>
          </div>  

          </div>
      </div>
      <% } %>
  </div> 
  </div>
</section>



<!-- ================= END OF SECTION ENOFERTA ============================ -->


<!-- ================= BEGIN OF SECTION ULTIMOSAGREGADOS ======================== -->

<section>
  <div class="container products-wrapper"> 
  <h2 class="prod-category"> Agregados recientemente</h2> 
    <div class="row">
      <% for (producto of ultimosAgregados) { %>  
      <div class="col-12 col-sm-6 col-lg-3">      
        <div class="item">
            <div class="item-inner">
              <a href="/Detalle/<%= producto.id %>">      
                <img width="100%" height="100%" alt="<%= producto.ds_nombre %>" src="./images/<%= producto.image %>"/>             
              </a>
            </div>                                          
            <div class="item-info"> <!-- En CSS main y main6 -->
              <div class="info-inner">  <!-- En CSS main -->
                <div class="item-title"> <!-- En CSS main -->  
                  <a href="/Detalle/<%= producto.id %>"> <%= producto.ds_nombre %>  </a>
                </div>
                <a> $<%= producto.dn_precio %> </a> 
              </div>
            </div>         
           
          <div>
              <button id="bprimary" value="Añadir a Carrito" quantity="1" image="<%= producto.image %>" precio="<%= producto.dn_precio %>" nombre="<%= producto.ds_nombre %>" product_id="<%= producto.id %>" name="anadir" onclick="micarrito(this)">Añadir a Carrito</button>
          </div>  
            
          </div>
      </div>
      <% } %>
  </div> 
  </div> 


<!-- ================= END OF SECTION ULTIMOS AGREGADOS ============================ -->

<!-- ================= JAVASCRIPTS      ============================ -->
<script type="text/javascript" src="/javascripts/carritoFunction.js"></script>

<!-- ================= BEGIN OF PRE-FOOTER ========================= -->




<%- include('partials/footer'); %>
<!-- ================= BEGIN FOOTER ============================ -->





