<%- include('partials/header'); %>

<body>

	<%- include('partials/header-navbar'); %>

<section>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">Estás editando: <i><%= productToEdit.nombre %></i></h1>
			</div>
		</div>


		<div class="formContenedor col-12" ;>
			<form action="/prod/Prod/edit/<%= productToEdit.id %>?_method=PUT" method="POST">
				<div style="align-content: center;">

					<div class="form-group col-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="precio" class="form-control" value="<%= productToEdit.precio %>">
					</div>

					<div class="form-group col-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="descuento" class="form-control" value="<%= productToEdit.descuento %>">
					</div>

					<div class="form-group col-6">
						<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="categoria" class="form-control">
							
							<option value= 1 <%= productToEdit.categoria == 1 ? 'selected' : null %>>
								Mas Vendidos
							</option>

							<option 
								value= 2 
								<%= productToEdit.categoria == 2 ? 'selected' : null %>
							>
								En oferta
							</option>

							<option 
								value= 3 
								<%= productToEdit.categoria == 3 ? 'selected' : null %>
							>
								Últimos agregados
							</option>


						</select>
					</div>


					<div class="form-group col-6">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="descripcion" id="description" class="form-control"><%= productToEdit.descripcion %></textarea>
					</div>
					
					<form action="" method="POST">
						<button type="submit" class="btn btn-success">Guardar</button>
					</form>
				</div>
			
			</form>
		</div>

	</div>

</section>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
